<header class="container">
    <h2>Sobre nosotros</h2>
</header>


<section class="container"><p>Thales es una organización creada por estudiantes de Matemáticas cuyo objetivo es promover el interés y la curiosidad entre los más pequeños por esta rama de la ciencia. Nuestros monitores son estudiantes de últimos cursos del grado, que cuentan con formación para impartir talleres para todas las edades.</p></section>